<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${characterDTO.getCharacterName()}"></title>

    <link th:rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<nav class="navbar justify-content-xxl-start justify-content-center shadow-sm mb-5">
    <a class="navbar-brand ms-xxl-5 m-0" th:href="${controllerDomain}" th:text="${applicationName}"></a>
</nav>

<div class="container">
    <div class="characterDTO-info-header row">
        <h1 class="m-0">
            <span class="characterDTO-name" th:text="${characterDTO.getCharacterName()}"></span>
            <span class="real-name" th:if="${characterDTO.getRealName() != null}" th:text="' (' + ${characterDTO.getRealName()} + ')'"></span>
        </h1>
    </div>
    <hr class="my-3">
    <div class="characterDTO-info-main row">
        <div class="col-xxl-8 col-12">
            <div class="characterDTO-description">
                <p th:text="${characterDTO.getDescription()}"></p>
            </div>
        </div>
        <div class="col-xxl-4 col-12">
            <div class="row justify-content-center">
                <div class="characterDTO-info-card card rounded-0 border-0">
                    <img class="card-img-top rounded-0 shadow" th:src="${characterDTO.getImageURL()}" alt="Image is missing">
                    <div class="card-body">
                        <table class="table table-sm table-bordered">
                            <tbody>
                            <tr>
                                <td class="info-key">Character name</td>
                                <td class="info-value" th:text="${characterDTO.getCharacterName()}"></td>
                            </tr>
                            <tr th:if="${characterDTO.getRealName() != null}">
                                <td class="info-key">Real name</td>
                                <td class="info-value" th:text="${characterDTO.getRealName()}"></td>
                            </tr>
                            <tr>
                                <td class="info-key">Alignment</td>
                                <td class="info-value" th:text="${characterDTO.getAlignment()}"></td>
                            </tr>
                            <tr>
                                <td class="info-key">Publisher</td>
                                <td class="info-value" th:text="${characterDTO.getPublisher()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>